@page
@model Applied_WebApplication.Pages.ReportPrint.COAListModel
@{
    var UserName = User.Identity.Name;
    var PDFFile = Model.MyReport.OutputFileLink;
}

<style>
    .iframe{
        overflow: hidden;
        height: 100%;
        width: 100%
    }

</style>


<div class="container bg-info" style="height: 100vh">
    <iframe src=@Url.Content(PDFFile) frameborder="0" style=""> This is Testing.</iframe>
</div>
