@page
@model Applied_WebApplication.Pages.ReportPrint.COAListModel
@{
    var UserName = User.Identity.Name;
    var PDFFile = Model.MyReport.OutputFileLink;
}


<div class="container bg-info">
    <iframe src=@Url.Content(PDFFile) width="100%" height="600px"> This is Testing.</iframe>
</div>
