@page
@model Applied_WebApplication.Pages.AccountsModel
@{
}

<div class="container border"  style="padding:10px" >
    <h1 class="callout">Accounts Department</h1>
</div>

 <div class="form-group row">
             <div class="col-5" style="padding:20px">  <input class="button btn-primary" value="Login" />   </div>
 </div>

  