@page
@model Applied_WebApplication.Pages.AccountsModel
@{
    var UserName = User.Identity.Name;
}

<form method="post">

    <div class="container p-2 mt-2 bg-success text-white rounded-2">
        <h2 class="callout">Accounts Department</h2>
    </div>

    <div class="dropdown py-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Directory
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item " href=".\Accounts\Directory\COA">Chart of Accounts</a></li>
            <li><a class="dropdown-item" href=".\Accounts\Directory\Class">Calss of Accounts</a></li>
            <li><a class="dropdown-item" href=".\Accounts\Directory\Nature">Nature of Accounts</a></li>
            <li><a class="dropdown-item" href=".\Accounts\Directory\Notes">Financial Notes</a></li>
        </ul>

        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transactions
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href=".\Accounts\CashBook">Cash Expense</a></li>
            <li><a class="dropdown-item" href=".\Accounts\WriteCheque">Cheque</a></li>
            <li><a class="dropdown-item" href="#">Cheque Return</a></li>
            <li><a class="dropdown-item" href=".\Accounts\BillPayableList">Bill Payable</a></li>
            <li><a class="dropdown-item" href=".\Accounts\BillReceivableList">Bill Receivable</a></li>
            <li><a class="dropdown-item" href="#">Pay Bill</a></li>
            <li><a class="dropdown-item" href=".\Accounts\VouchersList">Journal Entry</a></li>
            <li><a class="dropdown-item" asp-page=".\Applied\Posting">Voucher Posting</a></li>
            <li><a class="dropdown-item" asp-page=".\Applied\UnPost">Voucher Un-Post</a></li>
            <li><button class="dropdown-item" asp-page-handler="OBalPost">Posting Opening Balances</button></li>
        </ul>

        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="#">Voucher</a></li>
            <li><a class="dropdown-item" asp-page=".\ReportPrint\GeneralLedgers">General Ledger</a></li>
            <li><a class="dropdown-item" href="#">Customer Ledger</a></li>
            <li><a class="dropdown-item" href="#">Vendor Ledger</a></li>
            <li><a class="dropdown-item" asp-page=".\ReportPrint\TrialBalance">Trial Balance</a></li>
            <li><a class="dropdown-item" href="#">Profit & Loss Account</a></li>
            <li><a class="dropdown-item" href="#">Balance Sheet</a></li>
            <li>
                <a class="dropdown-item"
                   asp-page=".\ReportPrint\PrintReport" 
                   asp-page-handler="COAList">Chart of Accounts (List)</a>
            </li>

        </ul>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opening Balances
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="./Sales/OBAL_Company">Companies</a></li>
        </ul>
        <hr />

    

    </div>
</form>


@if(Model.ThisMessages.Count>0)
{
   <div class="container">
    @foreach (Message message in Model.ThisMessages)
    {
            if (message.ErrorID == 1)
            {
                <div class="error-msg bg-info"> @message.Msg; </div>
            }

            if (message.ErrorID == 2)
            {
                <div class="error-msg bg-success"> @message.Msg; </div>
            }

            if (message.ErrorID == 3)
            {
                <div class="error-msg bg-warning"> @message.Msg; </div>
            }


       
    }
</div>

}