@page
@model Applied_WebApplication.Pages.HumanResourcesModel
@{
}


<div class="text-black">
    <h1>Human Resources & Administrator</h1>

    <p>This is Human resource (HR) &Aacute; Administration area</p>

    <button class="bg-primary px-4">Create User</button> 

</div>