@page
@model Applied_WebApplication.Pages.HumanResourcesModel
@{
}


<div class="AppHeading-2">
    <h5>Human Resources and Administration</h5>
</div>

<div class="container">
    <div class="row d-flex">

        <div class="dropdown py-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Directory
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href=".\HR\Employees">Employees</a></li>
            </ul>
        </div>
    </div>
</div>
