@page
@using System.Security.Claims
@using Applied_WebApplication.Data;
@using System.Linq;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string MyCompany = UserProfile.GetClaim(User);
    var UserName = User.Identity.Name;
}

<div class="mt-4 p-3 bg-success text-white rounded">
    <h3>@MyCompany</h3>
    <p> APPLIED SOFTWARE HOUSE <spin class="text-decoration-underline">is a Software Development Company</spin></p>
</div>
<br />

<blockquote class="blockquote">
    <p>For 30 years, Applied Software House providing Desktop Software Solution, Now we are developing a web base Accounting Software for small and mediam scale organization.</p>
    <footer class="blockquote-footer">It is Under Development.</footer>
</blockquote>

<form method="post">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <input type="submit" class="btn btn-primary" value="Cash Book" asp-page=".\Accounts\CashBook" asp-route-UserName=@UserName />
            </div>
        <div class="p-2 bd-highlight">
            <input type="submit" class="btn btn-primary" value="Write Cheque" asp-page=".\Accounts\WriteCheque" asp-route-UserName=@UserName />
        </div>
    </div>
</form>

