@page
@using System.Security.Claims
@using Applied_WebApplication.Data;
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string MyCompany = UserProfile.GetClaim(User);
    var UserName = User.Identity.Name;
}

<div class="mt-4 p-3 bg-success text-white rounded">
    <h3>@MyCompany</h3>
    <p> APPLIED SOFTWARE HOUSE <spin class="text-decoration-underline">is a Software Development Company</spin></p>
</div>
<br />

<blockquote class="blockquote">
    <p>For 30 years, Applied Software House providing Desktop Software Solution, Now we are developing a web base Accounting Software for small and mediam scale organization.</p>
    <footer class="blockquote-footer">It is Under Development.</footer>
</blockquote>

<form method="post">
    <input type="submit" class="btn btn-primary" value="Print" asp-page=".\ReportPrint\PrintReport" asp-page-handler="COAList" asp-route-UserName=@UserName />
</form>
<br />


<form method="post">
    <input type="submit" class="btn btn-primary" value="Cash Book" asp-page=".\Accounts\CashBook" asp-route-UserName=@UserName />
</form>

<br />
<div hidden>

    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                APPLIED SOFTWARE HOUSE - Offcanvas Tag
            </div>
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>