@page
@using System.Security.Claims
@using System.Linq;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    string MyCompany = "Applied Software House";

    @if (User.Identity.IsAuthenticated)
    {
        foreach (Claim _Claim in User.Claims)
        {
            var asd = _Claim.ValueType;

            if (_Claim.Type == "Company")
            {
                MyCompany = _Claim.Value;
                break;
            }
        }
    }
}


<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>WELL COME 2</h1>
    <p> APPLIED SOFTWARE HOUSE is a Software Development Company</p>
</div>
<br />

<blockquote class="blockquote">
    <p>For 30 years, Applied Software House providing Desktop Software Solution, Now we are developing a web base Accounting Software for small and midam scale organization.</p>
    <footer class="blockquote-footer">It is Under Development.</footer>
</blockquote>

<div class="alert alert-success">
  <strong>Success!</strong> @MyCompany
</div>

<br />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  @MyCompany
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">@MyCompany</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        YOUR ARE TESTING - APPLIED ACCOUNT   3
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Understood</button>
      </div>
    </div>
  </div>
</div>