@page
@using System.Security.Claims
@using Applied_WebApplication.Data;
@using System.Linq;

@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string MyCompany = UserProfile.GetCompanyName(User);
    var UserName = User.Identity.Name;
    var username = User.Identity.Name;
}

<div class="mt-3 p-1 bg-success text-white rounded">
    <h3 class="text-center">@MyCompany</h3>
</div>
<br />


<style>
    .carousel-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }

    .carousel-inner {
        width: 1200px;
        height: 360px
    }

    #Mycarousel {
        width: 1220px;
        height: 370px
    }

    #MyBlock {
    }

</style>

<!--  Carousel -->
<div class="container" id="Mycarousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./Images/Picture3.jpg" class="carousel-img" alt="image">
            </div>
            <div class="carousel-item">
                <img src="./Images/Picture2.jpg" class="carousel-img" alt="image">
            </div>
            <div class="carousel-item">
                <img src="./Images/Picture5.jpg" class="carousel-img" alt="image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--  carousel END -->

<blockquote class="blockquote">
    <p>For 30 years, providing Desktop Software Solution, Now developing a web base Accounting Software for small and medium scale organization.</p>
    <footer class="blockquote-footer align-content-center">It is Under Development.</footer>
</blockquote>

<form method="post">
    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 justify-content-center">
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Test" asp-page=".\Stock\OpeningStock" formmethod="get" />

        </div>

        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Cash Book" asp-page-handler="CashBook" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Bank Book" asp-page-handler="BankBook" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Write Cheque" asp-page-handler="WCheque">
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Issue Invoice" asp-page=".\Accounts\Invoice" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Issue Receipt" asp-page=".\Accounts\Receipt" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Bill Payable" asp-page=".\Accounts\BillPayableList" formmethod="get" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Pay Bill" asp-page=".\Accounts\Payment" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Suppliers" asp-page=".\Sales\Customers" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Ledger" asp-page=".\ReportPrint\GeneralLedgers" formmethod="get" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="Voucher" asp-page=".\Accounts\VouchersList" formmethod="get" />
        </div>
        <div class="p-2 d-inline-block">
            <input type="submit" id="btn-menu" class="btn btn-primary" value="JV" asp-page=".\Accounts\JV" formmethod="get" />
        </div>
    </div>
</form>
