@page
@model Applied_WebApplication.Pages.SalesModel
@{
}

<div class="container p-2 mt-2 bg-success text-white rounded-2">
    <h3>SALES AND MARKETING</h3>
</div>

<div class="dropdown py-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Directory
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item active" href=".\Sales\Customers">Customers</a></li>
        <li><a class="dropdown-item" href="#">Vendors</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
        <li><a class="dropdown-item" href="#">Stock</a></li>
        <li><a class="dropdown-item" href="#">Stock Category</a></li>
        <li><a class="dropdown-item" href="#">Stock Nature</a></li>
        
    </ul>
</div>