@page
@model Applied_WebApplication.Pages.StockModel
@{
}

<div class="container AppHeading-2">
    <h5 class="TextCenter">STOCK INVENTORY</h5>
</div>

<div class="dropdown py-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        DIRECTORY
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href=".\Stock\Inventories">Inventories</a></li>
        <li><a class="dropdown-item" href="#">Category</a></li>
        <li><a class="dropdown-item" href="#">Sub Category</a></li>
        <li><a class="dropdown-item" href="#">Units of Measure</a></li>
        <li><a class="dropdown-item" href="#">Inventory Packing</a></li>
        
    </ul>

    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        PRODUCTION
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href=".\Stock\FinishedGoodsList">Finished Goods</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href=".\Stock\BOMProfileList">BOM Profiles</a></li>
        <li><a class="dropdown-item" href=".\Stock\BOMProcess">BOM Process</a></li>
    </ul>

    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        REPORTS
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href=".\Stock\StockinHand">Stock in Hand</a></li>
        <li><a class="dropdown-item" href=".\Stock\StockReport">Product Reports</a></li>
    </ul>
    <
</div>