@page
@model PrivacyModel
@{
    ViewData["Title"] = "APPLIED SOFTWARE HOUSE";
}
<h1>@ViewData["Title"]</h1>

<br />
<h4>Applied Accounts</h4>
<p>Applied Accoutn is under development.</p>
<p>CONTACT # +92 336 2454 230</p>
