@page
@model PrivacyModel
@{
    ViewData["Title"] = "APPLIED SOFTWARE HOUSE";
}

<div class="container">
    <div class="row">
        <div class="alert alert-primary" role="alert">
            <h1 class="text-center">@ViewData["Title"]</h1>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col-4">
            <h4 class="text-center">Applied Accounts</h4>
        </div>
        <div class="col-8">
            <p><string>Applied Accounts</string> designed and developed by (Author)</p>
            <p>Muhammad Aamir Jahangir Khan</p>
            <p>Computer programmer since 1983.</p>
            <p>CONTACT # +92 336 2454 230  (AAMIR JAHANGIR)</p>
            <p>Email : <a href="mailto:aamir@jahangir.com">aamir@jahangir.com</a> </p>
        </div>
    </div>
</div>

<div class="container">
    <table>
        <caption>LIST OF CUSTOMERS</caption>
        <thead>
            <tr>
                <th style="width: 65%">Customer Name</th>
                <th style="width: 20%">City</th>
                <th style="width: 15%">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HFS Steel SA</td>
                <td>Muzambique</td>
                <td>Africa</td>
            </tr>
            <tr>
                <td>Amcorp Engineering and Construction (Pvt) Limited</td>
                <td>Karachi</td>
                <td>Pakistan</td>
            </tr>
            <tr>
                <td>Mumtaz Welfare Foundation</td>
                <td>Karachi</td>
                <td>Pakistan</td>
            </tr>
        </tbody>
    </table>
    
</div>


