@page
@model Applied_WebApplication.Pages.Account.BackupModel
@{
}

<div class="container AppHeading">
    <h4 class="TextCenter">BACKUP OF DATA FILE</h4>
</div>
<form method="post">
    <input type="submit" class="btn btn-success" value="BACKUP DATA" asp-page-handler="Backup" />
</form>
<br />

<div>
    <p>Click on the above button and save Backup file. This file can be read by any application through <strong>SQLite DATABASE</strong>  browser.</p>
    <p> i.e. </p>
    <p> i.e.  SQLite Expert        =>  <a href="https://sqliteexpert.com">DownLoad</a>  </p>
    <p> DB Browser for SQLite => <a href="https://sqlitebrowser.org">DownLoad</a></p>

</div>

