@page
@model Applied_WebApplication.Pages.Account.BackupModel
@{
}

<div class="container AppHeading">
    <h4 class="TextCenter">BACKUP OF DATA FILE</h4>
</div>
<form method="post">
<input type="submit" class="btn btn-success" value="BACKUP DATA" />
</form>
<br />
@Model.Message

