@page
@model Applied_WebApplication.Pages.Account.PasswordSavedModel
@{
}

<p>Reset <string>Password</string>.</p>

<form method="post">
    <div class="container g-2">
        <div class="row">
            <div class="col-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Password" asp-for="@Model.Variables.UserName">
                    <label for="floatingPassword">ID</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="@Model.Variables.Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>

            <div class="col-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="Password" asp-for="@Model.Variables.Repeat">
                    <label for="floatingPassword">Repeat</label>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Save</button>
                </div>
            </div>

        </div>
    </div>
</form>