@page
@model Applied_WebApplication.Pages.Accounts.COAModel
@{
}

<div class="card bg-warning text-white">
    <div class="card-body">CHART OF ACCOUNT</div>
</div>
<br />

<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group row">
        <div class="col-3">    <label asp-for="_ID"></label></div>
        <div class="col-5"> <input type="text" asp-for="_ID" class="form-control" /></div>
        <span class="text-danger" asp-validation-for="_ID"></span>
    </div>
    <br />

    <div class="form-group row">
        <div class="col-3">    <label asp-for="_Title"></label></div>
        <div class="col-5">  <input type="text" asp-for="_Title" class="form-control" /></div>
        <span class="text-danger" asp-validation-for="_Title"></span>
    </div>

    <div class="form-group row">
        <div class="col-5">  <input type="submit" class="btn btn-primary" value="Login" />   </div>
    </div>

</form>

