@page
@using System.Data
@model Applied_WebApplication.Pages.Accounts.COAModel
@{
}

<div class="card bg-warning text-white">
    <div class="card-body">CHART OF ACCOUNT</div>
</div>
<br />

<form method="post">

    <br />

    
    <table class="table table-bordered">
        <thead>
            <tr>
                    <th>   <a> Code </a> </th>
                   <th>    <a>Title   </a> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow item in Model.COA.MyDataTable.Rows)
            {
                <tr>
                    <td>  @item["ID"]     </td>
                    <td>   @item["Title"] </td>
                    <td>
                        <a asp-page="./COA_Edit/" asp-route-id=@item["ID"]>Edit</a> |
                        <a asp-page="./Details" asp-route-id=@item>Details</a> |
                        <a asp-page="./Delete" asp-route-id=@item>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>