@page
@model Applied_WebApplication.Pages.Accounts.COAModel
@{
}

<div class="card bg-warning text-white">
    <div class="card-body">CHART OF ACCOUNT</div>
</div>
<br />

<form method="post">

    <div class="form-group row">
        <div class="col-3">    <label asp-for="ID"></label></div>
        <div class="col-5"> <input type="text" asp-for="ID" class="form-control" /></div>
        <span class="text-danger" asp-validation-for="ID"></span>
    </div>
    <br />

    <div class="form-group row">
        <div class="col-3">    <label asp-for="Title"></label></div>
        <div class="col-5">  <input type="text" asp-for="Title" class="form-control" /></div>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="form-group row">
        <div class="col-5">  <input type="submit" class="btn btn-primary" value="Login" />   </div>
    </div>

</form>

