@page
@model Applied_WebApplication.Pages.Accounts.COA_AddModel
@{
}

<div class="w3-container">
  <p>CHART OF ACCOUNTS - ADD (NEW ACCOUNT)</p>
</div>
<br />

<form method="post">
    <div class="Row">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="col-sm-1"



    </div>



</form>