@page "{id:double?}"
@model Applied_WebApplication.Pages.Accounts.COA_EditModel
@{
}

<div class="card bg-warning text-dark">
    <div class="card-body">CHART OF ACCOUNT - EDIT RECORD</div>
</div>
<br />

@Model.MyID