@page
@model Applied_WebApplication.Pages.Accounts.COA_EditModel
@{
}

<div class="card bg-warning text-dark">
    <div class="card-body">CHART OF ACCOUNT - EDIT RECORD</div>
</div>
<br />


<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <div class="col-sm-2">
            Code
            <input id="Title" asp-for=@Model.COA.CurrentRow["ID"] class="form-control" type="text">
            <span class="input-group-addon">
                <i class="text-danger"></i>
            </span>
        </div>
        <div class="col-sm-3">
            Title
            <input id="Code" asp-for=@Model.COA.CurrentRow["Title"] class="form-control" type="text">
            <span class="input-group-addon">
                <i class="text-danger"></i>
            </span>
        </div>
    </div>
    


    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Nature of Account</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Asset</option>
            <option value="2">Liability</option>
            <option value="3">Capital</option>
            <option value="4">Reveune</option>
            <option value="5">Expense</option>

        </select>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Class of Account</label>
        <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Fixed Assets</option>
            <option value="2">Current Assets</option>
            <option value="3">Short Term Liability</option>
            <option value="4">Long Term Liability</option>
            <option value="5">Paid up Capital</option>
            <option value="6">Reserves</option>
            <option value="7">Income from Sales</option>
            <option value="8">Income from Sale of Fixed Assets</option>
            <option value="9">Other Income</option>
            <option value="10">Operational Expense</option>
            <option value="11">Administration Expense</option>
            <option value="12">Other Expense</option>

        </select>
    </div>

    <br />
    <br />
    <div class="form-group row">
        <div class="col-5">  <input type="submit" class="button btn-primary" value="Save" />   </div>
    </div>

</form>
