@page
@model Applied_WebApplication.Pages.Accounts.ReceiptListModel
@{
    var UserName = User.Identity.Name;
    var TitleAccount = GetTitle(UserName, Tables.COA, Model.Variables.Account);
    var TitlePayer = GetTitle(UserName, Tables.COA, Model.Variables.Payer);
    var ListAccount = Titles(UserName, SQLQuery.ReceiptAccounts());
    var ListPayer = Titles(UserName, Tables.Customers);
}


<div class="AppHeading-2">
    <h3 class="TextCenter">List of Receipts</h3>
</div>

<form method="post">
    <div class="container list-filter">
        <div class="row">
            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-text" style="width:30%" id="From">Start</span>
                    <input type="date" class="form-control text-center" id="MinDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.From />
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="date" class="form-control text-center" id="MaxDate" style="width:70%" min="2020-01-01" asp-for=@Model.Variables.To />
                    <span class="input-group-text" style="width:30%" id="To">End</span>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="input-group justify-content-end">
                    <span class="input-group-text" style="width:30%" id="To">Search</span>
                    <input type="Text" class="form-control text-center" id="SearchText" style="width:70%" asp-for=@Model.Variables.Search />
                    
                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary" asp-page-handler="Refresh">Refresh
                </button>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <table class="table-list">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Receipt</th>
                    <th>Payer</th>
                    <th>Account</th>
                    <th>Project</th>
                    <th>Employee</th>
                    <th>Amount</th>
                    <th>
                        <button class="btn btn-primary" asp-page-handler="New">New</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>



</form>