@page
@using Applied_WebApplication.Data;
@using System.Linq;
@using Microsoft.Extensions.Primitives
@using System.Data
@using System.Globalization
@model Applied_WebApplication.Pages.Sales.Customer_AddModel
@{
    var UserName = User.Identity.Name;
    DataTableClass Customers = new(UserName, Tables.Customers.ToString());
}

<div class="container bg-sucess g-4 p-1">
    <h3>CUSTOMER - ADD</h3>
</div>
<br />


<div class="col-md-7 col-lg-8">
    <form method="post" class="needs-validation" novalidate="">

<!-- Show Messages of Error.-->
@if (Model.IsError)
{
    <div class="container">

        @foreach(TableValidationClass.Message _Error in Model.ErrorMessages)
        {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @_Error.message;
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        }
    </div>

    if (Customers.CurrentRow == null) { Customers.NewRecord(); }

    List<KeyValuePair<string, StringValues>> _Values = Request.Form.ToList();

    foreach (KeyValuePair<string, StringValues> _KeyValue in _Values)
    {
        if (_KeyValue.Key == "Code") { Model.Record.Code = _KeyValue.Value; }
        if (_KeyValue.Key == "Title") { Model.Record.Title = _KeyValue.Value; }
        if (_KeyValue.Key == "Email") { Model.Record.Email = _KeyValue.Value; }
        if (_KeyValue.Key == "Address1") { Model.Record.Address1 = _KeyValue.Value; }
        if (_KeyValue.Key == "Address2") { Model.Record.Address2 = _KeyValue.Value; }
        if (_KeyValue.Key == "City") { Model.Record.City = _KeyValue.Value; }
        if (_KeyValue.Key == "State") { Model.Record.State = _KeyValue.Value; }
        if (_KeyValue.Key == "Country") { Model.Record.Country = _KeyValue.Value; }
        if (_KeyValue.Key == "Phone") { Model.Record.Phone = _KeyValue.Value; }
        if (_KeyValue.Key == "Mobile") { Model.Record.Mobile = _KeyValue.Value; }
        if (_KeyValue.Key == "NTN") { Model.Record.NTN = _KeyValue.Value; }
        if (_KeyValue.Key == "CNIC") { Model.Record.CNIC = _KeyValue.Value; }
        if (_KeyValue.Key == "Notes") { Model.Record.Notes = _KeyValue.Value; }
    }
}


        <div class="row g-3">
            <div class="col-sm-6">
                <label asp-for=@Model.Record.ID class="form-label">ID</label>
                <input type="text" asp-for=@Model.Record.ID name="ID" class="form-control" id="firstName" placeholder="" value=@Model.Record.ID required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            
            <div class="col-sm-6">
                <label asp-for=@Model.Record.Code class="form-label">Code</label>
                <input type="text" asp-for=@Model.Record.Code name="Code" class="form-control" placeholder=" " value="@Model.Record.Code" required="">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>

            <div class="col-12">
                <label asp-for=@Model.Record.Title class="form-label">Customer Name</label>
                <div class="input-group has-validation">
                    <span class="input-group-text">Customer</span>
                    <input type="text" asp-for=@Model.Record.Title name="Title" class="form-control" placeholder="Username" value=@Model.Record.Title required="">
                    <div class="invalid-feedback">
                        Your username is required.
                    </div>
                </div>
            </div>

            <div class="col-12">
                <label asp-for=@Model.Record.Email class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" asp-for=@Model.Record.Email class="form-control" name="Email" value=@Model.Record.Email  placeholder="you@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="col-12">
                <label asp-for=@Model.Record.Address1 class="form-label">Address</label>
                <input type="text" asp-for=@Model.Record.Address1  class="form-control" name="Address1" value=@Model.Record.Address1 placeholder="Please address Plot, House and Area." required="">
            </div>

            <div class="col-12">
                <label asp-for=@Model.Record.Address2 class="form-label">Address 2 <span class="text-muted"></span></label>
                <input type="text" asp-for=@Model.Record.Address2 value=@Model.Record.Address2 class ="form-control" name="Address2" placeholder="Please address Plot, House and Area." required="">
            </div>

            <div class="col-md-3">
                <label asp-for=@Model.Record.City class="form-label">City</label>
                <input type="text" asp-for=@Model.Record.City class="form-control" Name="City" value=@Model.Record.City  placeholder="Enter City Name" required="">
                <div class="invalid-feedback">
                    City name is required.
                </div>
            </div>

            <div class="col-md-4">
                <label asp-for=@Model.Record.State class="form-label">State</label>
                <input type="text" asp-for=@Model.Record.State value=@Model.Record.State class="form-control" Name="State" placeholder="Enter City Name" required="">
                <div class="invalid-feedback">
                    Provience / State name is required.
                </div>
            </div>

            <div class="col-md-5">
                <label asp-for=@Model.Record.Country class="form-label">Country</label>
                <select class="form-select" name="Country" asp-for=@Model.Record.Country required="">
                    <option value=@Model.Record.Country>Choose...</option>
                    <option>Pakistan</option>
                    <option>United Arab Emirates</option>
                    <option>Saudia Arabia</option>
                    <option>Qatar</option>
                    <option>Bahrain</option>
                    <option>Oman</option>
                    <option>United Kingdom</option>
                    <option>United States</option>
                    <option>Caneda</option>
                    <option>Other Country</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>

            <div class="col-md-6">
                <label asp-for=@Model.Record.Phone class="form-label">Contact Phone Number</label>
                <input type="text" asp-for=@Model.Record.Phone value=@Model.Record.Phone class="form-control" name="Phone" placeholder="Enter Contact Phone Number">
            </div>

            <div class="col-md-6">
                <label asp-for=@Model.Record.Mobile class="form-label">Mobile Number</label>
                <input type="text" asp-for=@Model.Record.Mobile value=@Model.Record.Mobile class="form-control" name="Mobile" placeholder="Enter Mobile Phone Name">
            </div>

            <div class="col-md-6">
                <label asp-for=@Model.Record.NTN class="form-label">National Tax Number (TNT)</label>
                <input type="text" asp-for=@Model.Record.NTN value=@Model.Record.NTN class="form-control" name="NTN" placeholder="Enter National Tax Number">
            </div>

            <div class="col-md-6">
                <label asp-for=@Model.Record.CNIC class="form-label">National Identity Card (CNIC)</label>
                <input type="text" asp-for=@Model.Record.CNIC value=@Model.Record.CNIC class="form-control" name="CNIC" placeholder="Enter National Identity Card Number">
            </div>

            <div class="col-md-12">
                <label asp-for=@Model.Record.Notes class="form-label">Note / Comments (if any)</label>
                <textarea asp-for=@Model.Record.Notes value=@Model.Record.Notes class="form-control" name="Notes" rows="3"></textarea>
            </div>


            <hr style="width:100%;text-align:center;margin-left:0">
        </div>
        <div class="row g-md-1">
            <button class="btn btn-primary p-1" type="submit" asp-page-handler="Save" asp-route-UserName=@UserName>Save</button>
            <button class="btn btn-primary p-1" type="submit" asp-page="Customers">Back</button>
        </div>
    </form>
</div>

