.filter-row {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-width {
    width: 200px;
    height: 45px;
    padding-left:0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.filter-select {
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-left: 3px;
    justify-content: center;
}


.filter-buttons {
    height: auto;
    width:150px;
    display: flex;
    justify-content: center;
}

.btn-refresh {
    display: flex;
    width: 50px;
    height:32px;
    margin-top:3px;
    margin-left:30px;
    margin-right:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    border:solid;
    border-color:gray;
    border-width:.5px;
    color: blue;
    
}

    .btn-refresh:hover {
        color: red;
        background-color: aliceblue
    }


.btn-print {
    display: flex;
    width: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-left: 5px;
    color: green;
}

    .btn-print:hover {
        color: red;
        background-color: aliceblue
    }

    .btn-250{
        width:50px;
        margin-top:3px
    }