.filter-row{
    width:auto;
    display:flex;
    justify-content:center;

}
.date-width {
    width: 200px;
    height: 45px;
    padding-left:0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.filter-select {
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-left: 3px;
    justify-content: center;
}


.filter-buttons {
    height: auto;
    width:150px;
    display: flex;
    justify-content: center;
}

.btn-refresh {
    display: flex;
    width: 35px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 6.5px;
    padding-bottom: 2px;
    color: blue;
    
}

    .btn-refresh:hover {
        color: red;
        background-color: aliceblue
    }


.btn-print {
    display: flex;
    width: 35px;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-left: 5px;
    color: green;
}

    .btn-print:hover {
        color: red;
        background-color: aliceblue
    }