.filter {
    display:inline-flex;
    width: auto;
    height:44px;
    background-color:cornsilk;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.filter button{
    width:120px;
}

.date-width {
    width: 220px;
    align-items: center;
    padding:0px;
}

.date-group {
    width: 215px;
    padding-left: 0px;
    padding-right: 0px;
    align-items:center;
    
}

.date-title {
    width: 60px;
    text-align:center;
   
}

.date-date {
    width: 60px;
    padding-left:5px;
    padding-right:5px;
    padding-top:4px;
    padding-bottom:4px;
    border:solid 1px;
    border-color:black;
    text-align:center;
}

.filter-select{
    width:200px
}

.btn-refresh {
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

.tbox-width {
    width: 220px;
    padding-left:5px;
    padding-right:5px;
}

.tbox-width-2 {
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
}