
.table-list {
    display: table;
    width: 100%;
    border: 2px solid black;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px
}

table-list, thead {
    background-color: aliceblue;
    height: 10px;
}

table-list, tfoot, tr {
    background-color: antiquewhite;
}


.table-list, tr {
}

    .table-list, tbody, tr:hover {
        background-color: #ffff99;
    }

.table-list, th {
    font-display: block;
    border: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 1.5px;
    border-bottom-width: 1.5px
}

.table-list, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: dotted;
    border-bottom-color: dimgrey;
    border-bottom-width: thin;
    font-size: small;
    color: rebeccapurple
}

.table-list, tfoot {
    background-color: antiquewhite;
}


.table-col-amount {
    text-align: right
}

.table-col-amount-red {
    text-align: right;
    color: darkred
}


.table-caption {
    display: table-caption;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.TableFooter {
    background: #F9DBDB
}

.listbutton-red {
    background-color: transparent;
    color: red;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px;
    margin: 0px
}

.listbutton-blue {
    background-color: transparent;
    color: darkblue;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px
}

.listbutton-green {
    background-color: transparent;
    color: darkgreen;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px
}
