
.table-list {
    display: table;
    width: 100%;
    border: 2px solid black;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px
}

    .table-list thead {
        font-display: block;
        border: solid;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 1.5px;
        border-bottom-width: 1.5px;
    }

        .table-list thead tr {
            color: darkblue;
        }

            .table-list thead tr th {
            }


    .table-list tbody {
        color:darkslateblue;
        background-color: antiquewhite;
        font-size:smaller;

    }

        .table-list tbody tr {
            border-top:solid gray .5px;
            

        }

            .table-list tbody tr td {
            }


    .table-list tfoot {
        
        background-color: burlywood;
    }

        .table-list tfoot tr {
            color: white;
        }

            .table-list tfoot tr td {
                color: darkslategray;
            }

.table-col-amount {
    text-align: right
}

.table-col-amount-red {
    text-align: right;
    color: darkred
}


.table-caption {
    display: table-caption;
    text-align: center;
    text-transform: uppercase;
    color: red;
}


.listbutton-red {
    background-color: transparent;
    color: red;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px;
    margin: 0px
}

.listbutton-blue {
    background-color: transparent;
    color: darkblue;
    border: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px
}

.listbutton-green {
    background-color: transparent;
    color: darkgreen;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px
}
