
.table-list {
    width: 100%;
    
}

table-list, thead {
    background-color: pink;
}
/*0002 - to main thead*/


table-list, tbody{
    background-color:aliceblue;
}

table-list, tfoot{
    background-color:lightpink;
}

table-list, tbody tr:hover{
    background-color:lightgoldenrodyellow;
}



.table-width {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
.table-list, tfoot tr {
    background-color:antiquewhite;
}