html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.error-msg {
    margin-left: auto;
    background-color: Tomato;
    padding: 0px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}

.AppHeading {
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    background-color: darkorchid;
    color: whitesmoke;
    border-block: double;
}

    .AppHeading:hover {
        background-color: slateblue;
    }


