html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.app-msg {
    margin-left: auto;
    background-color: lightblue;
    padding: 0px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}

.AppHeading {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 1px;
    background-color: darkorchid;
    color: whitesmoke;
    border-block: double;
    height: 40px;
    font-size: 18px;
}

    .AppHeading:hover {
        background-color: slateblue;
    }

    .AppHeading h3{
        text-align:center
    }


.AppHeading-2 {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 1px;
    background-color: darkorchid;
    color: whitesmoke;
    border-block: double;
    height: 40px;
    font-size: 18px;
}

    .AppHeading-2 h3 {
        text-align:center;
        color:white;

    }


    .AppHeading-2:hover {
        background-color: slateblue;
    }


AppFooter {
    position:fixed;
    bottom: 0px;
    padding-left: 100px;
}


.TextCenter {
    text-align: center;
}

.TextRight {
    text-align: right
}

.orange {
    background: #f39c12
}

.blue {
    background: #4ee6ee
}

.align-right {
    text-align: right
}

.bg-lightblue {
    background: #e6f2f5;
    margin-left: auto;
    margin-right: auto
}

.text-purpul {
    color: blueviolet
}

.Text-Heading2 {
    display: container;
    text-align: center;
    padding: 0px;
    color: #7e02ff;
}

#btn-menu {
    width: 120px;
}


.amount {
    text-align: right
}

.amount-red {
    text-align: right;
    color: darkred
}

.amount-blue {
    text-align: right;
    color: darkblue
}

.amount-green {
    text-align: right;
    color: darkgreen
}

.hd-w30{
    width:30%
}

.hd-w70 {
    width: 70%;
}

.btn-w1 {
    width: 70px;
    margin-right:3px;
    margin-left:3px;
}

.btn-w2 {
    width: 100px;
    margin-right:3px;
    margin-left:3px;
}

.btn-w3 {
    width: 130px;
    margin-right:3px;
    margin-left:3px;
}

.btn-w4 {
    width: 160px;
    margin-right: 3px;
    margin-left: 3px;
}

.lbl-posted{
    font-size:small;
    font-family:Calibri;
    color:blue;
}

.list-filter{
    background-color:beige;
    font-family:Calibri;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:4px
}


.mid-line {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}