html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.error-msg {
    margin-left: auto;
    background-color: Tomato;
    padding: 0px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}

.app-msg {
    margin-left: auto;
    background-color: lightblue;
    padding: 0px;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
}
.AppHeading {
    margin-top: 1px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 10px;
    background-color: darkorchid;
    color: whitesmoke;
    border-block: double;
}


    .AppHeading:hover {
        background-color: slateblue;
    }

.AppHeading-2 {
    margin-top: 1px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 5px;
    background-color: darkorchid;
    color: whitesmoke;
    border-block: double;
    height: 40px;
    font-size:8px;
}

AppHeading-2:hover {
    background-color: slateblue;
}


.TextCenter {
    text-align: center;
}

.TextRight {
    text-align: right
}

.orange {
    background: #f39c12
}

.blue {
    background: #4ee6ee
}

.align-right {
    text-align: right
}

.bg-lightblue {
    background: #e6f2f5;
    margin-left: auto;
    margin-right: auto
}

.text-purpul {
    color: blueviolet
}

.Text-Heading2 {
    text-align: center;
    padding: 0px;
    color: #7e02ff;
}

#btn-menu {
    width: 120px;
}

#TableList {
    table-layout:auto;
    width: 100%;
    border: 5px solid #E0E0F8;
    padding: 5px;
    background: #EFFBFB;
    overflow: scroll

}

.TableFooter {
    background: #F9DBDB
}

tr:hover {
    background-color: #D6EEEE;

}




