@page
@model Applied_WebApplication.Pages.Stock.InventoryModel
@{
}

<div class="container">
    <div class="row g-2">
        <div class="col-12 bg-primary text-center text-white p-1"><h4>INVENTORY</h4></div>
    </div>
</div>
