@page
@model Applied_WebApplication.Pages.Stock.StockinHandModel
@{
}

<div class="AppHeading-2">
    <h5 class="TextCenter">Stock in Hand Position</h5>
</div>

<div class="container">
    <table class="table-list">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>