@page
@model Applied_WebApplication.Pages.Stock.StockPositionModel
@{
    var UserName = User.Identity.Name;
    var UserRole = UserProfile.GetUserRole(User);
}

<style>
    .col-wd{
        width:100px;
        padding:3px;
        margin:3px
       
    }

    .col-wd-dt {
        width: 180px;
        padding: 3px;
        margin: 3px
    }


    .btn-wd {
        width: 100px;
        height:30px
    }

    .dt-wd {
        width: 180px;
        height: 30px
    }
</style>

<form method="post">
<div class="AppHeading-2">
    <h5 class="TextCenter">STOCK IN HAND POSITION</h5>
</div>

<div class=containeer>
    <div class="row d-flex">
        <div class="col-wd-dt">
                <div class="input-group">
                    <span class="input-group-text" id="date1">Start</span>
                    <input type="text" class="form-control" placeholder="Date from" aria-label="Date From" aria-describedby="date1" />
                </div>
        </div>
        <div class="col-wd-dt">
                <div class="input-group">
                    <span class="input-group-text" id="date2">Start</span>
                    <input type="text" class="form-control" placeholder="Date to" aria-label="Date to" aria-describedby="date2" />
                </div>
        </div>
        <div class="col-wd"><button class="btn btn-primary btn-wd" asp-page-handler="Refresh"></button>Refresh</div>
            <div class="col-wd"><button class="btn btn-primary btn-wd" asp-page-handler="Refresh"></button>All</div>
            <div class="col-wd"><button class="btn btn-primary btn-wd" asp-page-handler="Refresh"></button>Print</div>
    </div>
</div>
<br />
<div class="containeer">
    <div class="row" >
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text" id="date1">Start</span>
                <input type="text" class="form-control" placeholder="Date from" aria-label="Date From" aria-describedby="date1" />
            </div>
           
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text" id="date2">End</span>
                <input type="text" class="form-control" placeholder="Date to" aria-label="Date to" aria-describedby="date2" />
            </div>
        </div>
        <div class="col-md-3">C</div>
        <div class="col-md-3">D</div>
    </div>
</div>

                </form>